

html
{
  background-image: url("Images/bakgrunnur.jpg");
  filter: contrast(200%);
}


header
{
  /*position: fixed;*/
  text-align: center;
  width: 50%;
}

body
{
  margin: 0;
  padding: 0;
  color: white;
  font-size: 18px;
}

h1
{
  color: white;
}

#header
{
  background-image: url("Images/vill.jpg");
  background-size: contain;
  width: 200%;
  height: 200px;
  padding-top: 0;
  margin-top: 0;
  transition-duration: 0.1s;
}

#header:hover
{
  filter: contrast(50%);

}

#vill_logo
{
  height: 100%;

}

#frame
{
  /*border: 5px solid red;*/
  margin: auto;
  margin-top: 20px;
  width: 50%;
  padding: 10px;
  border-top: 20px;
  background-color: black;
}

#frame img
{
  width: 100%;
  height: auto;
  object-fit: contain;
  filter: contrast(50%);
}

#frame iframe
{
  width: 100%;
  min-height: 560px;
  object-fit: contain;
}

p
{
  font-size: 18px;
  color: white;
  border: 80px
}

footer
{
  text-align: center;
}

footer p
{
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 0px;
}


.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 25px;
  overflow-x: hidden;
  background-color: black;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 32s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}


@media handheld
{
  @viewport
  {
    zoom: 1.5;
  }
}
